/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.interactive-bg{
  background-color: #0a0e31;
}

.cover-container {
  max-width: 42em;
}

.boundary-crop{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 400px;
}

.preview-box{
  width: 400px; 
  height: 400px; 
  background-color: black; 
  display: flex; 
  position: relative;
}

.preview-topic{
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 400px;
  border: 1px solid white;
  background: #00000085;
  z-index: 99999;
  resize: both;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.range-editor{
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 81px;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: rgb(11, 30, 223);
}

.input-field-area{
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 5%;
}

.under-line{
  outline: 0;
  text-align: center;
  color: white;
  border-width: 0 0 0 1px;
  border-color: blue;
  background-color: rgba(0,0,0,0);
  width: 3rem;
  transition: border-color 0.25s ease-in-out;
}
.under-line:focus {
  border-color: rgb(0, 214, 247)
}

.another-line{
  outline: 0;
  text-align: center;
  color: white;
  border-width: 0 0 1px 0;
  border-color: blue;
  background-color: rgba(0,0,0,0);
  width: 3rem;
  transition: border-color 0.25s ease-in-out;
}
.another-line:focus {
  border-color: rgb(0, 214, 247)
}

.attached-text{
  color: gray;
  font-size: 0.8rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(214 214 214 / 37%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5d68e2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5d68e2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type=range].disabled-l{
  pointer-events: none;
  background-color: rgba(11, 29, 223, 0.2);
}

input[type=text].disabled-l{
  pointer-events: none;
  background-color: rgba(75, 75, 75, 0.2);
  color: gray;
}

input[type=checkbox].disabled-l{
  pointer-events: none;
  background-color: rgba(214, 214, 214, 0.09);
}





/* Used on index.html*/

.main-body{
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #000000;
}

.display-sec:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) !important;
}

.image-display{
  background: url('/static/imageWallpaper.jpg') no-repeat;
  background-size: cover;
}

.audio-display{
  background: url('/static/audioWallpaper.jpg') no-repeat;
  background-size: cover;
}

.gif-display{
  background: url('/static/gifWallpaper.jpg') no-repeat;
  background-size: cover;
}

.disp-b{
  position: relative;
  padding: 0 !important;
}

.dark-box{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.25s ease-in-out;
}

.disp-b:hover .dark-box{
  background-color: rgba(0, 0, 0, 0.85);
}

.content-display{
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.show-exist{
  opacity: 0;
  transform: translate(0px, 120px);
  transition: opacity 0.25s ease-in-out, transform 0.5s ease-in-out;
}

.disp-b:hover .show-exist{
  opacity: 1;
  transform: translate(0px, 0px);
}

.clickable{
  cursor: pointer;
}

.concealable{
  opacity: 1;
  transition: all 0.5s ease-in-out;
}


/* ******** AUDIO ************** */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');

.audio-player {
  height: 50px;
  width: 350px;
  background: #444;
  box-shadow: 0 0 20px 0 #000a;
  font-family: arial;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
}
.audio-player .timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
}
.audio-player .timeline .progress {
  background: #0dcaf0;
  width: 0%;
  height: 100%;
  transition: 0.25s;
  border-radius: 0;
}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid white;
}
.audio-player .controls .toggle-play.play:hover {
  transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
  transform: scale(1.1);
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 15px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: #0dcaf0;
  height: 100%;
  width: 75%;
}
.audio-player .controls .volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

.special-input-field-area{
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.special-input-field-area-background{
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  padding: 1% 2.5%;
}